.scroll {
  width: 100%;
  /* overflow-x: auto; */
}

.scroll .table {
  display: table;
  width: 100%;
  /* min-width: 640px; */
  table-layout: fixed;
  border: 0;
  border-collapse: collapse;
}

.fieldColumn {
  width: 240px; 
}

.typeColumn {
  width: 145px;
}

.table {
  margin-top: 20px;
}

.table>tbody>tr {
  border: 0;
}

.scroll>.table>tbody>tr:not(:last-child):not(:has(+ tr > .nestedCell)) {
  border-bottom: 1px solid #e5e7eb;
}

:global(.dark) .scroll>.table>tbody>tr:not(:last-child):not(:has(+ tr > .nestedCell)) {
  border-bottom-color: #374151;
}

.table td {
  vertical-align: middle;
  overflow-wrap: anywhere;
}

.table td p:first-child {
  margin-top: 0;
}

.table td code {
  white-space: normal;
}

.table .nestedCell {
  padding: 0;
  border: 0;
}

.nestedCell>.table {
  margin: 0;
  margin-bottom: 15px;
}

.nestedCell>.table>tbody>tr>td:first-child:not([colspan]) {
  position: relative;
  padding-left: 60px;
}

.nestedCell>.table>tbody>tr>td:first-child:not([colspan])::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30px;
  width: 1px;
  background-color: #e5e7eb;
  content: '';
}

:global(.dark) .nestedCell>.table>tbody>tr>td:first-child:not([colspan])::before {
  background-color: #374151;
}

.nestedCell .nestedCell>.table>tbody>tr>td:first-child:not([colspan]) {
  padding-left: 100px;
}

.nestedCell .nestedCell>.table>tbody>tr>td:first-child:not([colspan])::before {
  left: 70px;
  box-shadow: -40px 0 #e5e7eb;
}

:global(.dark) .nestedCell .nestedCell>.table>tbody>tr>td:first-child:not([colspan])::before {
  box-shadow: -30px 0 #374151;
}